.header {
  position: relative;
  background-color: $blue;
  z-index: 2;
}

.header__container {
  display: grid;
  grid-template-columns: repeat(2, 142px);
  gap: 16px 6px;
  padding: 15px 0 13px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 0;
    padding: 20px 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
  }
}

.header__logo {
  display: flex;
  justify-content: center;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 31px 10px 32px;
  }
}

.header__image {
  display: block;
  color: $white;
}

.header__navigation {
  grid-row: 1;
}

.header__navigation--open .header__list {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 18px;
  top: 100%;
  width: 100%;
  left: 0;
  right: 0;
  padding: 11px 10px 46px;
  background-color: $blue;
  z-index: 2;

  @media (min-width: $tablet-width) {
    gap: 24px;
    padding: 30px 40px 66px;
  }
}

.header__button {
  width: 26px;
  height: 26px;
  background-image: url("/__spritemap#sprite-menu-view");

  @media (min-width: $tablet-width) {
    margin-top: 3px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__navigation--open .header__button {
  background-image: url("/__spritemap#sprite-cross-view");
}

.header__list {
  @include reset-list;

  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 648px;
    gap: 10px 21px;
  }
}

.header__link {
  padding: 3px 5px;
  font-size: 14px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 0.6px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    box-shadow: 0 1px 0 0 $white;
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 1px $white;
  }

  &:active {
    color: $active;
    box-shadow: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    font-weight: 400;
    letter-spacing: normal;
    text-transform: none;
  }
}

.header__phone {
  display: inline-block;
  grid-column: 2;
  justify-self: end;
  font-size: 14px;
  line-height: 100%;
  font-weight: 600;
  color: $white;
  text-decoration: none;

  &:hover {
    color: rgba(255, 255, 255, 0.5);
  }

  &:focus-visible {
    color: $primary;
    outline: none;
  }

  &:active {
    color: $active;
  }

  @media (min-width: $tablet-width) {
    grid-column: 3;
    margin-top: 3px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.header__navigation--open + .header__phone {
  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}
