.page__body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
}

.page__main {
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    background-image: url("/img/clouds/clouds-1-tablet.png");
    background-repeat: no-repeat;
    background-position: 100% 967px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("/img/clouds/clouds-1-desktop.png");
    background-repeat: no-repeat;
    background-position: 100% 674px;
  }
}
