.swiper-wrapper {
  @include reset-list;
}

.swiper {
  position: relative;
  overflow: hidden;
}

.swiper-slide--hero {
  width: 100%;
  height: 100%;
}

.swiper-pagination--hero {
  position: absolute;
  display: flex;
  gap: 20px;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  @media (min-width: $desktop-width) {
    bottom: 92px;
    left: auto;
    right: 120px;
    transform: none;
  }
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }
}

.swiper-pagination-bullet-active {
  background-color: $white;
}
