.swiper-wrapper {
  @include reset-list;
}

.swiper-slide--hero {
  width: 100%;
  height: 100%;
}

.swiper-slide--reviews {
  @media (min-width: $tablet-width) {
    max-width: 565px;
  }

  @media (min-width: $desktop-width) {
    max-width: 700px;
  }
}

.swiper-pagination--hero {
  position: absolute;
  display: flex;
  gap: 20px;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  @media (min-width: $desktop-width) {
    bottom: 92px;
    left: auto;
    right: 120px;
    transform: none;
  }
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }
}

.swiper-pagination-bullet-active {
  background-color: $white;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
  display: none;
  top: 0;
  left: 88.5%;
  width: 37px;
  height: 35px;
  background-color: $blue;
  border: none;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 9px;
    transform: translate(-50%, -50%);
    background-color: $white;
    mask-image: url("/__spritemap#sprite-arrow-view");
    mask-size: 14px 9px;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  &:hover {
    background-color: $white;
    box-shadow: inset 0 0 0 1px $active;

    &::after {
      background-color: $active;
    }
  }

  &:focus-visible {
    outline: none;
    box-shadow: none;
    background-color: $white;

    &::after {
      background-color: $active;
    }
  }

  &:active {
    background-color: $active;

    &::after {
      background-color: $white;
    }
  }

  @media (min-width: $tablet-width) {
    display: inline-block;

    &--reviews {
      left: 83.5%;
    }

    &--gallery {
      left: 84%;
    }
  }

  @media (min-width: $desktop-width) {
    left: 93.5%;

    &--reviews {
      left: 85%;
    }

    &--gallery {
      display: none;
    }
  }
}

.swiper-button-prev::after {
  transform: translate(-50%, -50%) rotate(180deg);
}

.swiper-button-prev:disabled,
.swiper-button-next:disabled {
  pointer-events: none;
  background-color: $disabled;
  opacity: 1;
}
